<nb-card accent="info">
  <nb-card-header>
    <!-- importer FormsModule pour le binding 2 ways ! -->
    <input nbInput [(ngModel)]="myProp" />
  </nb-card-header>
  <nb-card-body>
    <p>{{myProp}}</p>
  </nb-card-body>
</nb-card>
