<nb-card accent="info">
  <nb-card-header>Survoler la valeur pour l'incrémenter</nb-card-header>
  <nb-card-body>
    <span (mouseover)="onMouseover($event)">{{ prop1 }}</span>
    <!-- les événements sont écrits entre () et la valeur est une méthode du code-behind -->
    <!-- nb: $event entre les () permet de récupérer l'event  -->
  </nb-card-body>
</nb-card>
<nb-card accent="info">
  <nb-card-header>Cliquer sur les boutons pour incrémenter/décrémenter</nb-card-header>
  <nb-card-body>
    <button nbButton
            outline
            status="primary"
            (click)="onPlusClick()"
            style="margin-right:20px"
            [disabled]="prop2 > 9">+</button>
            <!-- on en profite pour montrer la directive disabled -->
            <!-- nb: la directive est entre [] -> la valeur de la prop est écrite en ts -->
    <button nbButton
            outline
            status="info"
            (click)="onMinusClick()"
            [disabled]="prop2 < 1">-</button>
    <p>{{ prop2 }}</p>
  </nb-card-body>
</nb-card>

