// css

/*
.clickable {
   cursor: pointer;
}
.clickable:hover nbicon {
  color: orange;
}
*/


// scss (on peut en profiter pour montrer un peu de scss)
.clickable {
  cursor: pointer;
  &:hover nb-icon {
    color: orange;
  }
}
