<nb-card accent="info">
  <nb-card-header (click)="toggleCardBody()"
                  class="clickable">
    <!-- eva icons: https://akveo.github.io/eva-icons/#/ -->
    <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
  </nb-card-header>
  <nb-card-body *ngIf="open">
    <!-- "lorem + tab" to generate lorem text -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis reprehenderit delectus impedit doloremque aperiam animi! Unde magni laudantium dolor, vero alias ea debitis aut quod at, accusantium eligendi cupiditate a?</p>
  </nb-card-body>
</nb-card>
