<nb-card accent="info">
  <nb-card-header>Le texte en rouge changera dans qqs secondes</nb-card-header>
  <nb-card-body>
    <!--
      {{ propName }}
      to get the value of a property defined in the ts file
    -->
    <p>Hello <span class="text-red">{{ myProp }}</span> !!</p>
  </nb-card-body>
</nb-card>


