<p>Enoncé:</p>
<ol>
  <!-- après demo 1 -->
  <li>Créer une propriété contentant un nombre entier et l'afficher à l'écran</li>
  <li>En utilisant la fonction "setInterval" incrémenter ce nombre toutes les secondes</li>
  <!-- après demo 2 -->
  <li>Créer 3 boutons (start, stop, reset)</li>
  <li>Modifier votre code pour que
    <ul>
      <li>le bouton start démarre le compteur</li>
      <li>le bouton stop stoppe le compteur</li>
      <li>le bouton reset réinitialise et stoppe le compteur</li>
    </ul>
  </li>
  <li>Désactiver
    <ul>
      <li>le bouton start quand le compteur démarre</li>
      <li>le bouton stop quand le compteur est arrêté</li>
      <li>le bouton reset quand le compteur est déjà à 0</li>
    </ul>
  </li>
</ol>
<nb-card accent="info">
  <nb-card-header>
    <button nbButton
            outline
            status="info"
            (click)="start()"
            [disabled]="isStarted"
            style="margin-right: 20px">Start</button>
    <button nbButton
            outline
            status="warning"
            (click)="stop()"
            [disabled]="!isStarted"
            style="margin-right: 20px">Stop</button>
    <button nbButton
            outline
            status="danger"
            (click)="reset()"
            [disabled]="value == 0">Reset</button>
  </nb-card-header>
  <nb-card-body><p>{{ value }}</p></nb-card-body>
</nb-card>
