<nb-layout>
  <nb-layout-header fixed>Anuglar Nebular</nb-layout-header>
  <nb-sidebar>
    <app-nav></app-nav>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>&copy;Bstorm - 2019</nb-layout-footer>
</nb-layout>
