<nb-card>
  <nb-card-header>Confirmation</nb-card-header>
  <nb-card-body>
    Etes-vous sûr de vouloir supprimer cet article?
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="danger" class="mx-2" (click)="yes()">Oui</button>
    <button nbButton status="info" (click)="no()">Non</button>
  </nb-card-footer>
</nb-card>
