<!-- <ul>
  <li><a routerLink="/demo/demo1" routerLinkActive="active">Demo 1</a></li>
  <li><a routerLink="/demo/demo2" routerLinkActive="active">Demo 2</a></li>
  <li><a routerLink="/demo/demo3" routerLinkActive="active">Demo 3</a></li>
</ul> -->

<nb-menu [items]="items"></nb-menu>
