<nb-card accent="info">
  <nb-card-header>*ngFor</nb-card-header>
  <nb-card-body>
    <!-- items doit être une variable de type "Array" -->
    <nb-card>
      <nb-list *ngFor="let item of items">
        <nb-list-item>{{ item }}</nb-list-item>
      </nb-list>
    </nb-card>
  </nb-card-body>
</nb-card>

