<p>Enoncé :</p>
<ol>
  <!-- après demo 5 -->
  <li>Créer un input et un bouton (ajouter)</li>
  <li>Après avoir cliquer sur le bouton ajouter le contenu de l'input dans une liste et vider l'input</li>
  <li>Désactiver le bouton si l'input est vide</li>
</ol>
<nb-card accent="info"
         (keydown)="onKeyDown($event)">

         <!-- ajout de l'événement keypress optionnel -->
         <!-- solution alternative -->
         <!-- (keydown.enter)="add()" -->

  <nb-card-header>
    <input nbInput
           type="text"
           [(ngModel)]="input"
           style="margin-right: 20px">
    <button nbButton
            outline
            status="info"
            (click)="add()"
            [disabled]="!inputValid">Ajouter</button>
  </nb-card-header>
  <nb-card-body>
    <nb-card>
      <nb-list>
        <nb-list-item *ngFor="let item of articles">
          <button nbButton status="danger" size="tiny" (click)="openConfirmDialogBox(item)"><nb-icon icon="trash"></nb-icon></button>
          <span class="mx-2">{{item.quantity}}</span>
          <span class="checked" (click)="check(item)">{{item.name}}</span>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-card-body>
</nb-card>
