<!-- on a importé au préalable bootstrap car nebular ne possede pas de grid -->
<div class="container-fluid">
  <div class="row">
    <div class="col-3" *ngFor="let item of items" >
      <div class="card mb-4">
        <img src="/assets/images/{{item.picture}}" class="card-img-top">
        <div class="card-body text-dark">
          <!-- on montre qqs filtres angular -->
          <div class="card-title">{{item.name | uppercase}}</div>
          <!-- on en profite pour montrer la directive ngClass -->
          <span [ngClass]="{ 'lineThrough': item.discount != null }">{{item.price}}€</span>
          <span class="text-danger" *ngIf="item.discount != null" > {{item.price - (item.price * (item.discount || 0) / 100) | number : '0.0-2'}}€</span>
        </div>
      </div>
    </div>
  </div>
</div>
